<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="">
   <meta name="author" content="">

   <title>Catalog</title>

   <!-- Bootstrap core CSS -->
   <link href="/css/bootstrap.min.css" rel="stylesheet">

   <!-- Custom styles for this template -->
   <link href="/css/simple-sidebar.css" rel="stylesheet">

   <link rel="stylesheet" href="/fontawesome/css/all.css">
<<<<<<< HEAD




=======
   <<<<<<< HEAD=======>>>>>>> master
>>>>>>> 915f0748486d04ad00eeed8ae1b4e89d27c497e9

</head>

<body class="sfmono">


   <div id="wrapper">


      <div id="content-wrapper" class="d-flex flex-column">


         <div id="content">


            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow fixed-top">
               <div class="container">
                  <!-- Sidebar Toggle (Topbar) -->
                  <a class="sidebar-brand d-flex align-items-center justify-content-center text-decoration-none"
                     href="/catalog?scale=All&vendor=All">
                     <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-helicopter fa-lg"></i>
                     </div>
                     <div class="sidebar-brand-text">Classsic Model<sup>Shop</sup></div>
                  </a>

                  <!-- Topbar Search -->
                  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                     <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                           <button class="btn btn-primary" type="button">
                              <i class="fas fa-search fa-sm"></i>
                           </button>
                        </div>
                     </div>
                  </form>

                  <!-- Topbar Navbar -->
                  <ul class="navbar-nav ml-auto">

                     <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                     <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                           aria-labelledby="searchDropdown">
                           <form class="form-inline mr-auto w-100 navbar-search">
                              <div class="input-group">
                                 <input type="text" class="form-control bg-light border-0 small"
                                    placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                 <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                       <i class="fas fa-search fa-sm"></i>
                                    </button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </li>
                     <div class="topbar-divider d-none d-sm-block"></div>

                     <ul class="nav-item mt-2" style="list-style-type: none;">
                        <li>
                           <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="empName"></span>
                        </li>
                        <li>
                           <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="empRole"></span>
                        </li>
                     </ul>



                     <li class="nav-item dropdown no-arrow">
                        <a class="sidebar-brand  align-items-center justify-content-between text-decoration-none"
                           href="/login">
                           <div class="sidebar-brand-icon ">
                              <i class="fas fa-sign-in-alt"></i>
                           </div>
                           <div class="sidebar-brand-text">Sign in</div>
                        </a>
                     </li>

                  </ul>
               </div>
            </nav>


            <div class="container mt-5">

               <div class="row">

                  <div class="col-lg-3 mt-3" style="padding-top: 121px;">
                     <form action="/catalog" method="GET" name=Form1>
                        Scale <br>
                        <select class='form-control' name="scale" id="scalefilter">
                        </select>
                        <br>Vendor <br>
                        <select class='form-control w-75 h-50' name="vendor" id="vendorfilter">
                        </select>
                        <br>
                        <input class="btn btn-primary" type="submit" value="Search" onclick="" id="submitfilter">
                        <h3>Selected </h3>
                        <h5> Vendor: <%= Ven  %></h5>
                        <h5>Scale : <%= Sc  %> </h5>
                        <h5>Found <%= rowNum  %> products </h5>
                     </form>
                     
                  </div>


                  <div class="col-lg-9 mt-3">

                     <div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
                        <ol class="carousel-indicators">
                           <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                           <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                           <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                           <div class="carousel-item active">
                              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                           </div>
                           <div class="carousel-item">
                              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                           </div>
                           <div class="carousel-item">
                              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                           </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                           data-slide="prev">
                           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                           <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                           data-slide="next">
                           <span class="carousel-control-next-icon" aria-hidden="true"></span>
                           <span class="sr-only">Next</span>
                        </a>
                     </div>

                     <div class="row">
                        <% for(var i=0; i < result.length; i++) { %>
                        <div class="col-lg-4 col-md-6 mb-4" id='<%= result[i].productName %>'>
                           <div class="card h-100 border-bottom-primary">
                              <a href="#"><img class="card-img-top" src="/img/<%=result[i].imgSrc%>" alt=""></a>
                              <div class="card-body">
                                 <h4 class="card-title">
                                    <a href="#"><%= result[i].productName %></a>
                                 </h4>
                                 <h5>$<%= result[i].buyPrice %> </h5>
                                 <h5>Scale <%= result[i].productScale %></h5>
                                 <h5>Seller: <%= result[i].productVendor %></h5>
                                 <p class="card-text"><%= result[i].productDescription %></p>
                              </div>
                           </div>
                        </div>
                        <% } %>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>


<<<<<<< HEAD


=======
>>>>>>> 915f0748486d04ad00eeed8ae1b4e89d27c497e9
   <!-- Bootstrap core JavaScript -->
   <script src="/jquery/jquery.min.js"></script>
   <script src="/js/bootstrap.bundle.min.js"></script>
   <script src="/fontawesome/js/all.js"></script>
   <script src="/js/navbar.js"></script>

   <!-- Menu Toggle Script -->
   <script>
      $("#menu-toggle").click(function (e) {
         e.preventDefault();
         $("#wrapper").toggleClass("toggled");
      });
   </script>






   <script type="text/javascript">
      
      $(document).ready(() => {
         $.ajax({
            url: '/catalog/scaleFilter',
            type: 'GET',
            dataType: 'json',
            success: (data) => {

               $("#scalefilter").append("<option selected='selected' value='All'>All</option>");
               $.each(data, function (index, obj) {

                  $("#scalefilter").append("<option  value='" + obj.productScale + "'>" + obj
                     .productScale + "</option>");
               });
               //$('#scalefilter').html( text);

            },
         });


         $.ajax({
            url: '/catalog/vendorFilter',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
               $("#vendorfilter").append("<option  value='All' >All</option>");
               $.each(data, function (index, obj) {
                  $("#vendorfilter").append("<option  value='" + obj.productVendor + "'>" + obj
                     .productVendor + "</option>");
               });
               //$('#vendorfilter').html( text);

            },
         });



      });


      $(document).ajaxError(() => {
         $('#demo').html('Error: unknown ajaxError!');
      });
   </script>

<<<<<<< HEAD
=======
   <script type="text/javascript">


      $(document).ready(() => {
         $.ajax({
            url: 'scaleFilter',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
               $("#scalefilter").append("<option value='All'>All</option>");
               $.each(data, function (index, obj) {

                  $("#scalefilter").append("<option value='" + obj.productScale + "'>" + obj.productScale + "</option>");
               });
               //$('#scalefilter').html( text);

            },
         });

         $.ajax({
            url: 'vendorFilter',
            type: 'GET',
            dataType: 'json',
            success: (data) => {
               $("#vendorfilter").append("<option value='All'>All</option>");
               $.each(data, function (index, obj) {
                  $("#vendorfilter").append("<option  value='" + obj.productVendor + "'>" + obj.productVendor + "</option>");
               });
               //$('#vendorfilter').html( text);

            },
         });

      });

      $(document).ajaxError(() => {
         $('#demo').html('Error: unknown ajaxError!');
      });

   </script>

>>>>>>> 915f0748486d04ad00eeed8ae1b4e89d27c497e9

</body>

</html>